/* 
    Document   : style
    Created on : 25/Out/2013, 19:51:15
    Author     : mafonso
    Description:
        Demo module stylesheet
*/

@font-face
{
    font-family: Quicksand;
    src: url('Quicksand_Book.otf'),
        url('Quicksand_Book.ttf'),
        url('Quicksand_Book.woff'),
        url('Quicksand_Book.svg'),
        url('Quicksand_Book.eot'); /* IE9 */
}

body {
    background-image:url('../img/fresh_snow.png');
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    line-height: 30px;
}

input, button, select, textarea {
    font-family: 'Quicksand', sans-serif;
}

.navbar .navbar-inner, .breadcrumb, .well, .hero-unit {
    background-image: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-inner, .well, .hero-unit {
    background-color: white !important;
}

.hero-unit, .well, .breadcrumb {
    border-radius: 0;
}

.btn, .brand, li {
    line-height: 30px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    line-height: 30px;
    height: 30px;
}

textarea {
    height: auto !important;
}

.carousel-control {
    line-height: 40px;
}

ul {
    list-style-type: none;
}

.muted {
  color: #999999;
}

a.muted:hover,
a.muted:focus {
  color: #808080;
}

.text-warning {
  color: #c09853;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}

.text-error {
  color: #b94a48;
}

a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}

.text-info {
  color: #3a87ad;
}

a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}

.text-success {
  color: #468847;
}

a.text-success:hover,
a.text-success:focus {
  color: #356635;
}

pre {
    background-color: #3f3f3f;
    color: white;
    font-weight: bold;
}

.brand img {
    max-height: 30px;
}

.gallery .item {
    width: 60px;
    height: 60px;
    text-align: center;
    overflow: hidden;
}

.gallery .thumb {
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
}

.gallery img {
    height: 100%;
    max-width: inherit;
}

.editor {
    overflow:auto;
    padding: 10px;
    line-height: 150%;
    border: 1px dashed gray;
}

#demos-list ul {
    margin: 0;
    padding: 0;
}

#demos-list li {
    display: inline;
}

#demos-list a div {
    border-color: #e0e0e0;
    margin-left: 0;
}